*~

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4

.anjuta_sym_db.db
.kdev4
autom4te.cache
build
aux_config
CMakeFiles
aclocal.m4
config.h.in
Makefile.in
configure

scanner_report.txt
lex.backup
parser_graph.txt
parser_graph.xml
parser_report.txt
IRCScanner_scanner_report.txt
IRCbisect_scanner_report.txt

/Yarp.sdf
/Yarp.suo
/Debug
/ipch
/chance/Debug
/character/Debug
/common/Debug
/item/Debug
/magic/Debug
/chance/dice/Debug
/Yarp.opensdf
/combat/Debug
/character/monster/Debug
/character/player/Debug
/map/Debug
/map/scripts/lex.backup
/map/scripts/parser_graph.txt
/map/scripts/parser_graph.xml
/map/scripts/parser_report.txt
/net/Debug
/net/protocol/Debug
/net/stream/Debug
/graphics/Debug
/sound/Debug
/Yarp/Debug
/Yarp/Yarp.sdf
/Yarp/Yarp.suo
/engine/Debug
/Yarp/ipch
/client/Debug
/test_u/test_u_chance/Debug
/test_u/test_u_chance2/Debug
/test_u/test_u_character/Debug
/test_u/test_u_character2/Debug
/test_u/Debug

/graphics/data/cursors/Thumbs.db
/Yarp/Yarp.opensdf
/graphics/data/floors/Thumbs.db
/Yarp/Release
/chance/Release
/chance/dice/Release
/character/Release
/character/monster/Release
/character/player/Release
/client/Release
/combat/Release
/common/Release
/engine/Release
/graphics/Release
/item/Release
/magic/Release
/map/Release
/net/Release
/net/protocol/Release
/sound/Release
/net/stream/Release
/test_u/Release

Debug
ipch

/tools/XML2CppCode/XML2CppCode.suo
/tools/XML2CppCode/XML2CppCode.sdf
