*~
*.orig
*.bak

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
.deps/
_configs.sed
build/

.anjuta_sym_db.db
.kdev4
autom4te.cache
aux_config/
CMakeFiles
aclocal.m4
config.h.in
Makefile.in
Makefile.am.user
configure
Makefile
CMakeLists.txt.user

*.sdf
*.suo
*.opensdf
*.pdb
Debug/
Debug_obj/
Release/
ipch/

Thumbs.db
.picasa.ini
autoscan.log
configure.scan

/doc/html

config.h

scanner_report.txt
lex.backup
parser_graph.txt
parser_graph.xml
parser_report.txt
