*~
*.orig
*.bak

libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
.deps/
_configs.sed
build/

.anjuta_sym_db.db
.kdev4
autom4te.cache
aux_config/
CMakeFiles
aclocal.m4
config.h.in
Makefile.in
Makefile.am.user
configure
Makefile


*.sdf
*.suo
*.opensdf
*.pdb
Debug/
Debug_obj/
Release/
ipch/

Thumbs.db
.picasa.ini
autoscan.log
configure.scan

/character/monster/rpg_player.xsd
/client/rpg_character.xsd
/client/rpg_combat.xsd
/client/rpg_common.xsd
/client/rpg_common_environment.xsd
/client/rpg_dice.xsd
/client/rpg_engine.xsd
/client/rpg_graphics.xsd
/client/rpg_item.xsd
/client/rpg_magic.xsd
/client/rpg_map.xsd
/client/rpg_monster.xsd
/client/rpg_player.xsd
/map/rpg_common_environment.xsd

/doc/html

scanner_report.txt
lex.backup
parser_graph.txt
parser_graph.xml
parser_report.txt
IRCScanner_scanner_report.txt
IRCbisect_scanner_report.txt
