[submodule "libACENetwork"]
	path = modules
	url = https://github.com/esohns/libACENetwork.git
[submodule "libCommon"]
	path = modules
	url = https://github.com/esohns/libCommon.git
[submodule "libACEStream"]
	path = modules
	url = https://github.com/esohns/libACEStream.git
